<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | NextGenScholar</title>
    <link rel="stylesheet" href="static\styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="main_menu.html"><img src="static/images/nextgen_transparentI.png" alt="NextGenScholar Directory Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="userRegistration.html">Register</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="about-section">
            <h1>About Us</h1>
            <div class="about-content">
                <p>
                    Introducing NextGenScholar, the platform that simplifies the scholarship search process.
                    By creating an account and answering a few personalized questions, users gain instant access to
                    scholarships tailored specifically to their profile. But it doesn’t stop there—NextGenScholar
                    keeps users updated with new opportunities that match their criteria through email alerts and
                    notifications. This ensures that no scholarship is missed and makes financial aid more accessible to
                    all groups, helping students achieve their academic goals with ease.
                    <br><br>
                    With NextGenScholar, the path to your future is no longer a search, but a guided journey towards
                    opportunity and success.
                </p>
                <img src="static/images/about.png" alt="About Us Image" class="about-img">
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 NextGenScholar. All rights reserved.</p>
    </footer>
</body>
</html>
